/* src/App.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #282c34;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  border: 1px solid #444;
  border-radius: 10px;
  padding: 20px;
  background-color: #333;
}

.button-row {
  display: flex;
}

.clear-button {
  flex: 1;
}